*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
.main-leyout{
 
}
.left-menu{
    
  
}
.main-content-leyout{
    padding: 20px;
}
.navbar-options{
    background: #fffbd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #b20a2c, #fffbd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #b20a2c, #fffbd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    height: 100vh;
    overflow: auto;
    overflow-x: hidden;
    position: fixed;
    width: 300px; 
    transition: 0.2s;
    nav{
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        
    }
    
    li {
        color: white;
        list-style: none;
       
        padding-top: 15px;
        padding-bottom: 15px;
        width: 300px;
        span{
            font-size: 28px;
            
        }
        a{
            text-decoration:none;
            font-size: 22px;
            color: white;
           
        }
        
    }
   
    
}

.right-menu{

    margin-left: 300px;
    display: n;
    .login-bar{
        span{
        
            text-decoration: none;
            line-height: 18px;
            font-size: 24px;
            font-weight: bold;
            color: whitesmoke;
            background-color: #424874;
            padding: 20px;
        }
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: rgba(255, 255, 255, 0.15) 0px 48px 100px 0px;
        .login-links{
            margin-right: 20px;
            display: flex;
            li{
            
                list-style: none;
                padding: 15px;
                a{
                    text-decoration: none;
                }
            }
        }        
    }
   
}

.english-menu{
    display: flex;
    
    background: #fffbd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b20a2c, #fffbd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b20a2c, #fffbd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    li{
        transition: 0.2s;

        list-style: none;
        padding: 20px;
        width: 150px;
        display: flex;
        justify-content: center;
        border-right:1px white solid;
        border-left:1px white solid;
        margin-left: 20px;
       
        opacity: 90%;
        a{
            text-decoration: none;
            color: white !important;
            font-size: 18px;
            font-weight: 800;
        }

    }
    li:hover{
        opacity: 100%;
    }
    
}
#leyout-left-menu{
    color: white;
    font-weight: bold;
    font-size: 24px;
    position: fixed;
    bottom: 0;
    left: 238px;
    cursor: pointer;
    background-color: #424874;
    padding: 20px;
    opacity: 85%;
    transition: 0.2s;
}




